testforjenkins/src/main/mule/testforjenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1c3a9e97-d8df-4478-acb3-a8a4697ccb70" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testforjenkinsFlow" doc:id="c9a12367-4baa-4893-9da0-07a571cc3c9b" >
		<http:listener doc:name="Listener" doc:id="d2c928aa-03ce-483b-a174-951c30e4247c" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='"this is a test for jenkins"' doc:name="Set Payload" doc:id="054d962c-7a5e-4419-ac10-a35301c77027" />
		<logger level="INFO" doc:name="Logger" doc:id="f73b8e2a-48e5-494f-8224-4f14ee6424ec" message="#[payload]"/>
	</flow>
</mule>
